{
  "openapi": "3.0.3",
  "info": {
    "title": "Merged API Services",
    "description": "This is a merged OpenAPI specification containing multiple API services",
    "contact": {
      "email": "feedback@data.gov.sg"
    },
    "version": "2025.05.17"
  },
  "servers": [
    {
      "url": "https://api-open.data.gov.sg/v2/real-time/api"
    }
  ],
  "paths": {
    "/twenty-four-hr-forecast": {
      "get": {
        "summary": "Retrieve the latest 24 hour weather forecast",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/twenty-four-hr-forecast](https://api-open.data.gov.sg/v2/real-time/api/twenty-four-hr-forecast)**\n\n<br/>\n\n- Updated multiple times throughout the day\n\n<br/>\n\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2024-07-16` or `?date=2024-07-16T23:59:00`\n\n<br/>\n\n- Possible values for forecast include:\n  - Fair\n  - Fair (Day)\n  - Fair (Night)\n  - Fair and Warm\n  - Partly Cloudy\n  - Partly Cloudy (Day)\n  - Partly Cloudy (Night)\n  - Cloudy\n  - Hazy\n  - Slightly Hazy\n  - Windy\n  - Mist\n  - Fog\n  - Light Rain\n  - Moderate Rain\n  - Heavy Rain\n  - Passing Showers\n  - Light Showers\n  - Showers\n  - Heavy Showers\n  - Thundery Showers\n  - Heavy Thundery Showers\n  - Heavy Thundery Showers with Gusty Winds\n",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "SGT date (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS). Example: 2024-07-16 or 2024-07-16T23:59:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "24 Hour Weather Forecast",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "area_metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the area",
                                "example": "Ang Mo Kio"
                              },
                              "label_location": {
                                "type": "object",
                                "description": "Provides longitude and latitude for placing readings on a map",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "example": 1.375
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "example": 103.839
                                  }
                                }
                              }
                            }
                          }
                        },
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "2024-07-15T00:00:00.000Z"
                              },
                              "updatedTimestamp": {
                                "type": "string",
                                "description": "Time of acquisition of data from NEA",
                                "example": "2024-07-15T15:04:00.000Z"
                              },
                              "tiemstamp": {
                                "type": "string",
                                "description": "Time forecast was issued by NEA",
                                "example": "2024-07-15T15:04:00.000Z"
                              },
                              "general": {
                                "type": "object",
                                "description": "A general weather forecast for the 24 hour period",
                                "properties": {
                                  "validPeriod": {
                                    "type": "object",
                                    "description": "Period of time the forecast is valid for",
                                    "properties": {
                                      "start": {
                                        "type": "string",
                                        "example": "2024-07-16T16:30:00.000Z"
                                      },
                                      "end": {
                                        "type": "string",
                                        "example": "2024-07-16T18:30:00.000Z"
                                      },
                                      "text": {
                                        "type": "string",
                                        "example": "12.30 am to 2.30 am"
                                      }
                                    }
                                  },
                                  "temperature": {
                                    "type": "object",
                                    "description": "Unit of measure - Degrees Celsius",
                                    "properties": {
                                      "low": {
                                        "type": "number",
                                        "example": 26
                                      },
                                      "high": {
                                        "type": "number",
                                        "example": 36
                                      },
                                      "unit": {
                                        "type": "string",
                                        "example": "Degrees Celsius"
                                      }
                                    }
                                  },
                                  "relativeHumidity": {
                                    "type": "object",
                                    "description": "Unit of measure - Percentage",
                                    "properties": {
                                      "low": {
                                        "type": "number",
                                        "example": 55
                                      },
                                      "high": {
                                        "type": "number",
                                        "example": 90
                                      },
                                      "unit": {
                                        "type": "string",
                                        "example": "Percentage"
                                      }
                                    }
                                  },
                                  "forecast": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string"
                                      },
                                      "text": {
                                        "type": "string",
                                        "enum": [
                                          "Fair",
                                          "Fair (Day)",
                                          "Fair (Night)",
                                          "Fair and Warm",
                                          "Partly Cloudy",
                                          "Partly Cloudy (Day)",
                                          "Partly Cloudy (Night)",
                                          "Cloudy",
                                          "Hazy",
                                          "Slightly Hazy",
                                          "Windy",
                                          "Mist",
                                          "Fog",
                                          "Light Rain",
                                          "Moderate Rain",
                                          "Heavy Rain",
                                          "Passing Showers",
                                          "Light Showers",
                                          "Showers",
                                          "Heavy Showers",
                                          "Thundery Showers",
                                          "Heavy Thundery Showers",
                                          "Heavy Thundery Showers with Gusty Winds"
                                        ]
                                      }
                                    }
                                  },
                                  "wind": {
                                    "type": "object",
                                    "properties": {
                                      "speed": {
                                        "type": "object",
                                        "description": "Unit of measure - Kilometeres per hour",
                                        "properties": {
                                          "low": {
                                            "type": "number",
                                            "example": 15
                                          },
                                          "high": {
                                            "type": "number",
                                            "example": 30
                                          }
                                        }
                                      },
                                      "direction": {
                                        "type": "string",
                                        "example": "SSE"
                                      }
                                    }
                                  }
                                }
                              },
                              "periods": {
                                "type": "array",
                                "description": "Forecasts for various areas in Singapore",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "timePeriod": {
                                      "type": "object",
                                      "description": "Period of time the forecast is valid for",
                                      "properties": {
                                        "start": {
                                          "type": "string",
                                          "example": "2024-07-16T16:30:00.000Z"
                                        },
                                        "end": {
                                          "type": "string",
                                          "example": "2024-07-16T18:30:00.000Z"
                                        },
                                        "text": {
                                          "type": "string",
                                          "example": "12.30 am to 2.30 am"
                                        }
                                      }
                                    },
                                    "regions": {
                                      "type": "object",
                                      "properties": {
                                        "west": {
                                          "type": "object",
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string",
                                              "enum": [
                                                "Fair",
                                                "Fair (Day)",
                                                "Fair (Night)",
                                                "Fair and Warm",
                                                "Partly Cloudy",
                                                "Partly Cloudy (Day)",
                                                "Partly Cloudy (Night)",
                                                "Cloudy",
                                                "Hazy",
                                                "Slightly Hazy",
                                                "Windy",
                                                "Mist",
                                                "Fog",
                                                "Light Rain",
                                                "Moderate Rain",
                                                "Heavy Rain",
                                                "Passing Showers",
                                                "Light Showers",
                                                "Showers",
                                                "Heavy Showers",
                                                "Thundery Showers",
                                                "Heavy Thundery Showers",
                                                "Heavy Thundery Showers with Gusty Winds"
                                              ]
                                            }
                                          }
                                        },
                                        "east": {
                                          "type": "object",
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string",
                                              "enum": [
                                                "Fair",
                                                "Fair (Day)",
                                                "Fair (Night)",
                                                "Fair and Warm",
                                                "Partly Cloudy",
                                                "Partly Cloudy (Day)",
                                                "Partly Cloudy (Night)",
                                                "Cloudy",
                                                "Hazy",
                                                "Slightly Hazy",
                                                "Windy",
                                                "Mist",
                                                "Fog",
                                                "Light Rain",
                                                "Moderate Rain",
                                                "Heavy Rain",
                                                "Passing Showers",
                                                "Light Showers",
                                                "Showers",
                                                "Heavy Showers",
                                                "Thundery Showers",
                                                "Heavy Thundery Showers",
                                                "Heavy Thundery Showers with Gusty Winds"
                                              ]
                                            }
                                          }
                                        },
                                        "central": {
                                          "type": "object",
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string",
                                              "enum": [
                                                "Fair",
                                                "Fair (Day)",
                                                "Fair (Night)",
                                                "Fair and Warm",
                                                "Partly Cloudy",
                                                "Partly Cloudy (Day)",
                                                "Partly Cloudy (Night)",
                                                "Cloudy",
                                                "Hazy",
                                                "Slightly Hazy",
                                                "Windy",
                                                "Mist",
                                                "Fog",
                                                "Light Rain",
                                                "Moderate Rain",
                                                "Heavy Rain",
                                                "Passing Showers",
                                                "Light Showers",
                                                "Showers",
                                                "Heavy Showers",
                                                "Thundery Showers",
                                                "Heavy Thundery Showers",
                                                "Heavy Thundery Showers with Gusty Winds"
                                              ]
                                            }
                                          }
                                        },
                                        "north": {
                                          "type": "object",
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string",
                                              "enum": [
                                                "Fair",
                                                "Fair (Day)",
                                                "Fair (Night)",
                                                "Fair and Warm",
                                                "Partly Cloudy",
                                                "Partly Cloudy (Day)",
                                                "Partly Cloudy (Night)",
                                                "Cloudy",
                                                "Hazy",
                                                "Slightly Hazy",
                                                "Windy",
                                                "Mist",
                                                "Fog",
                                                "Light Rain",
                                                "Moderate Rain",
                                                "Heavy Rain",
                                                "Passing Showers",
                                                "Light Showers",
                                                "Showers",
                                                "Heavy Showers",
                                                "Thundery Showers",
                                                "Heavy Thundery Showers",
                                                "Heavy Thundery Showers with Gusty Winds"
                                              ]
                                            }
                                          }
                                        },
                                        "south": {
                                          "type": "object",
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "text": {
                                              "type": "string",
                                              "enum": [
                                                "Fair",
                                                "Fair (Day)",
                                                "Fair (Night)",
                                                "Fair and Warm",
                                                "Partly Cloudy",
                                                "Partly Cloudy (Day)",
                                                "Partly Cloudy (Night)",
                                                "Cloudy",
                                                "Hazy",
                                                "Slightly Hazy",
                                                "Windy",
                                                "Mist",
                                                "Fog",
                                                "Light Rain",
                                                "Moderate Rain",
                                                "Heavy Rain",
                                                "Passing Showers",
                                                "Light Showers",
                                                "Showers",
                                                "Heavy Showers",
                                                "Thundery Showers",
                                                "Heavy Thundery Showers",
                                                "Heavy Thundery Showers with Gusty Winds"
                                              ]
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "paginationToken": {
                          "type": "string",
                          "description": "Token to retrieve next page if exists",
                          "example": "b2Zmc2V0PTEwMA== (you will see this token only if next page exists)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2024-06-01) or YYYY-MM-DDTHH:mm:ss (2024-06-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/two-hr-forecast": {
      "get": {
        "summary": "Retrieve the latest two hour weather forecast",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/two-hr-forecast](https://api-open.data.gov.sg/v2/real-time/api/two-hr-forecast)**\n\n<br/>\n\n- Updated half-hourly from NEA\n- Forecasts are given for multiple areas in Singapore\n\n<br/>\n\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2024-07-16` or `?date=2024-07-16T23:59:00`\n\n<br/>\n\n- Possible values for forecast include:\n  - Fair\n  - Fair (Day)\n  - Fair (Night)\n  - Fair and Warm\n  - Partly Cloudy\n  - Partly Cloudy (Day)\n  - Partly Cloudy (Night)\n  - Cloudy\n  - Hazy\n  - Slightly Hazy\n  - Windy\n  - Mist\n  - Fog\n  - Light Rain\n  - Moderate Rain\n  - Heavy Rain\n  - Passing Showers\n  - Light Showers\n  - Showers\n  - Heavy Showers\n  - Thundery Showers\n  - Heavy Thundery Showers\n  - Heavy Thundery Showers with Gusty Winds\n\n<br/>\n\n- Area metadata\n  - The `area_metadata` field in the response provides longitude/latitude information for the areas. You can use that to place the forecasts on a map.\n",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "SGT date for which to retrieve data (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "2 Hour Weather Forecast",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "area_metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the area",
                                "example": "Ang Mo Kio"
                              },
                              "label_location": {
                                "type": "object",
                                "description": "Provides longitude and latitude for placing readings on a map",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "example": 1.375
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "example": 103.839
                                  }
                                }
                              }
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "updated_timestamp": {
                                "type": "string",
                                "description": "Time of acquisition of data from NEA",
                                "example": "2024-07-17T05:05:54.000Z"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "Time forecast was issued by NEA",
                                "example": "2024-07-17T04:59:00.000Z"
                              },
                              "valid_period": {
                                "type": "object",
                                "description": "Period of time the forecast is valid for",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "example": "2024-07-16T16:30:00.000Z"
                                  },
                                  "end": {
                                    "type": "string",
                                    "example": "2024-07-16T18:30:00.000Z"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "12.30 am to 2.30 am"
                                  }
                                }
                              },
                              "forecasts": {
                                "type": "array",
                                "description": "Forecasts for various areas in Singapore",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "area": {
                                      "type": "string",
                                      "example": "Ang Mo Kio"
                                    },
                                    "forecast": {
                                      "type": "string",
                                      "enum": [
                                        "Fair",
                                        "Fair (Day)",
                                        "Fair (Night)",
                                        "Fair and Warm",
                                        "Partly Cloudy",
                                        "Partly Cloudy (Day)",
                                        "Partly Cloudy (Night)",
                                        "Cloudy",
                                        "Hazy",
                                        "Slightly Hazy",
                                        "Windy",
                                        "Mist",
                                        "Fog",
                                        "Light Rain",
                                        "Moderate Rain",
                                        "Heavy Rain",
                                        "Passing Showers",
                                        "Light Showers",
                                        "Showers",
                                        "Heavy Showers",
                                        "Thundery Showers",
                                        "Heavy Thundery Showers",
                                        "Heavy Thundery Showers with Gusty Winds"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "paginationToken": {
                          "type": "string",
                          "description": "Token to retrieve next page if exists",
                          "example": "b2Zmc2V0PTEwMA== (you will see this token only if next page exists)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2024-06-01) or YYYY-MM-DDTHH:mm:ss (2024-06-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/four-day-outlook": {
      "get": {
        "summary": "Retrieve the latest 4 day weather forecast",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/four-day-outlook](https://api-open.data.gov.sg/v2/real-time/api/four-day-outlook)**\n\n<br/>\n\n- Updated twice a day from NEA\n- The forecast is for the next 4 days.\n\n<br/>\n\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2024-07-16` or `?date=2024-07-16T23:59:00`\n",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "SGT date for which to retrieve data (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "4 Day Weather Forecast",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "description": "Chronologically ordered forecasts for the next 4 days",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "2024-07-17T00:00:00.000Z"
                              },
                              "updatedTimestamp": {
                                "type": "string",
                                "example": "2024-07-16T21:20:50.000Z"
                              },
                              "timestamp": {
                                "type": "string",
                                "example": "2024-07-16T21:17:00.000Z"
                              },
                              "forecasts": {
                                "type": "array",
                                "description": "Forecast summary for the day",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "timestamp": {
                                      "type": "string",
                                      "example": "2024-07-17T16:00:00.000Z"
                                    },
                                    "temperature": {
                                      "type": "object",
                                      "description": "Unit of measure - Degrees Celsius",
                                      "properties": {
                                        "low": {
                                          "type": "number",
                                          "example": 26
                                        },
                                        "high": {
                                          "type": "number",
                                          "example": 33
                                        },
                                        "unit": {
                                          "type": "string",
                                          "example": "Degrees Celsius"
                                        }
                                      }
                                    },
                                    "relativeHumidity": {
                                      "type": "object",
                                      "description": "Unit of measure - Percentage",
                                      "properties": {
                                        "low": {
                                          "type": "number",
                                          "example": 50
                                        },
                                        "high": {
                                          "type": "number",
                                          "example": 80
                                        },
                                        "unit": {
                                          "type": "string",
                                          "example": "Percentage"
                                        }
                                      }
                                    },
                                    "forecast": {
                                      "type": "object",
                                      "properties": {
                                        "summary": {
                                          "type": "string",
                                          "example": "Fair and occasionally windy"
                                        },
                                        "code": {
                                          "type": "string",
                                          "example": "FA"
                                        },
                                        "text": {
                                          "type": "string",
                                          "enum": [
                                            "Fair",
                                            "Fair (Day)",
                                            "Fair (Night)",
                                            "Fair and Warm",
                                            "Partly Cloudy",
                                            "Partly Cloudy (Day)",
                                            "Partly Cloudy (Night)",
                                            "Cloudy",
                                            "Hazy",
                                            "Slightly Hazy",
                                            "Windy",
                                            "Mist",
                                            "Fog",
                                            "Light Rain",
                                            "Moderate Rain",
                                            "Heavy Rain",
                                            "Passing Showers",
                                            "Light Showers",
                                            "Showers",
                                            "Heavy Showers",
                                            "Thundery Showers",
                                            "Heavy Thundery Showers",
                                            "Heavy Thundery Showers with Gusty Winds"
                                          ]
                                        }
                                      }
                                    },
                                    "day": {
                                      "type": "string",
                                      "enum": [
                                        "Monday",
                                        "Tuesday",
                                        "Wednesday",
                                        "Thursday",
                                        "Friday",
                                        "Saturday",
                                        "Sunday"
                                      ]
                                    },
                                    "wind": {
                                      "type": "object",
                                      "properties": {
                                        "speed": {
                                          "type": "object",
                                          "description": "Unit of measure - Kilometeres per hour",
                                          "properties": {
                                            "low": {
                                              "type": "number",
                                              "example": 35
                                            },
                                            "high": {
                                              "type": "number",
                                              "example": 40
                                            }
                                          }
                                        },
                                        "direction": {
                                          "type": "string",
                                          "example": "SSE"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2024-06-01) or YYYY-MM-DDTHH:mm:ss (2024-06-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/air-temperature": {
      "get": {
        "summary": "Get air temperature readings across Singapore",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/air-temperature](https://api-open.data.gov.sg/v2/real-time/api/air-temperature)**\n\n<br/>\n\n- Has per-minute readings from NEA\n\n<br/>\n\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2024-07-16` or `?date=2024-07-16T23:59:00`\n\n\n- Unit of measure for readings is `°C`\n\n",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "Format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS (SGT). Example: 2024-07-16 or 2024-07-16T23:59:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Air Temperature Information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "stations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Station's ID",
                                "example": "S108"
                              },
                              "deviceId": {
                                "type": "string",
                                "description": "Reading Device's ID (usually same as Station's ID)",
                                "example": "S108"
                              },
                              "name": {
                                "type": "string",
                                "description": "Station's name",
                                "example": "Marina Gardens Drive"
                              },
                              "labelLocation": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "description": "Latitude coordinate of the region label",
                                    "example": 1.2799
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "description": "Longitude coordinate of the region label",
                                    "example": 103.8703
                                  }
                                }
                              }
                            }
                          }
                        },
                        "readings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "example": "2024-07-16T15:59:00.000Z"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "stationId": {
                                      "type": "string",
                                      "example": "S108"
                                    },
                                    "value": {
                                      "type": "number",
                                      "example": 29
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "readingType": {
                          "type": "string",
                          "description": "Information about the reading",
                          "example": "DBT 1M F"
                        },
                        "readingUnit": {
                          "type": "string",
                          "description": "Measurement unit for reading",
                          "example": "deg code"
                        },
                        "paginationToken": {
                          "type": "string",
                          "description": "Token to retrieve next page if exists",
                          "example": "b2Zmc2V0PTEwMA== (you will see this token only if next page exists)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2024-06-01) or YYYY-MM-DDTHH:mm:ss (2024-06-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/weather": {
      "get": {
        "summary": "Retrieve the latest WBGT data for accurate heat stress assessment",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/weather?api=wbgt](https://api-open.data.gov.sg/v2/real-time/api/weather?api=wbgt)**\n\n<br/>\n\n- Updated multiple times throughout the day\n<br/>\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2025-01-16` or `?date=2025-01-16T23:59:00`\n\n\n- Unit of measure for readings is `°C`\n\n",
        "parameters": [
          {
            "in": "query",
            "name": "api",
            "description": "Set the value to `wbgt` to fetch WBGT records",
            "schema": {
              "type": "string"
            },
            "example": "wbgt"
          },
          {
            "in": "query",
            "name": "date",
            "description": "SGT date (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS). Example: 2025-01-16 or 2025-01-16T23:59:00",
            "example": "2025-01-16T23:59:00.000Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WBGT Weather Observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "datetime": {
                                "type": "string",
                                "example": "2025-02-07T20:38:00+08:00",
                                "description": "Time the observasation was issued by NEA"
                              },
                              "item": {
                                "type": "object",
                                "description": "A weather observation for the WBGT",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Type of the weather information (`observation` or `forecast`). WBGT is always `observation.",
                                    "example": "observation"
                                  },
                                  "isStationData": {
                                    "type": "boolean",
                                    "description": "Indicates whether the weather information includes station information.",
                                    "example": true
                                  },
                                  "readings": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "location": {
                                          "type": "object",
                                          "properties": {
                                            "latitude": {
                                              "type": "string",
                                              "description": "The latitude coordinate of the location, represented as a string.",
                                              "example": "1.1700"
                                            },
                                            "longtitude": {
                                              "type": "string",
                                              "description": "The longitude coordinate of the location, represented as a string.",
                                              "example": "103.8718"
                                            }
                                          }
                                        },
                                        "datetime": {
                                          "type": "string",
                                          "description": "The date and time when the weather reading was taken, formatted in ISO 8601.",
                                          "example": "2025-02-07T19:16:44.004+08:00"
                                        },
                                        "text": {
                                          "type": "string",
                                          "description": "A textual description of the weather event, which can include types such as \"Cloud to Cloud\" or \"Cloud to Ground.\"",
                                          "example": "Cloud to Cloud"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "The type of lightning event, which can be either \"C\" for Cloud to Cloud or \"G\" for Cloud to Ground.",
                                          "example": "C"
                                        },
                                        "station": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "Station name",
                                              "example": "Upper Changi Road North"
                                            },
                                            "id": {
                                              "type": "string",
                                              "description": "Station ID",
                                              "example": "S124"
                                            },
                                            "townCenter": {
                                              "type": "string",
                                              "example": "Changi"
                                            }
                                          }
                                        },
                                        "heatStress": {
                                          "type": "string",
                                          "description": "A string indicating the level of heat stress at the location",
                                          "example": "Low"
                                        },
                                        "wbgt": {
                                          "type": "string",
                                          "description": "Wet Bulb Globe Temperature value at the station",
                                          "example": "26.9"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "updatedTimestamp": {
                                "type": "string",
                                "description": "Time of acquisition of data from NEA",
                                "example": "2025-02-07T20:40:12+08:00"
                              }
                            }
                          }
                        },
                        "paginationToken": {
                          "type": "string",
                          "description": "Token to retrieve next page if exists",
                          "example": "b2Zmc2V0PTEwMA== (you will see this token only if next page exists)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2025-02-01) or YYYY-MM-DDTHH:mm:ss (2025-02-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wind-direction": {
      "get": {
        "summary": "Get wind direction readings across Singapore",
        "description": "**[https://api-open.data.gov.sg/v2/real-time/api/wind-direction](https://api-open.data.gov.sg/v2/real-time/api/wind-direction)**\n\n<br/>\n\n- Has per-minute readings from NEA\n\n<br/>\n\n- Filter for specific date or date-time by providing `date` in query parameter.\n  - use YYYY-MM-DD format to retrieve all of the readings for that day\n  - use YYYY-MM-DDTHH:mm:ss to retrieve the latest readings at that moment in time\n  - example: `?date=2024-07-16` or `?date=2024-07-16T23:59:00`\n\n\n- Unit of measure for readings is `°`\n\n",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "SGT date for which to retrieve data (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paginationToken",
            "description": "Pagination token for retrieving subsequent data pages",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wind Direction Information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Response status code (always 0 for success)"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "Error message (empty string for success)",
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "stations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Station's ID",
                                "example": "S117"
                              },
                              "deviceId": {
                                "type": "string",
                                "description": "Reading Device's ID (usually same as Station's ID)",
                                "example": "S117"
                              },
                              "name": {
                                "type": "string",
                                "description": "Station's name",
                                "example": "Banyan Road"
                              },
                              "labelLocation": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "description": "Latitude coordinate of the region label",
                                    "example": 1.36491
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "description": "Longitude coordinate of the region label",
                                    "example": 103.75065
                                  }
                                }
                              }
                            }
                          }
                        },
                        "readings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "example": "2024-07-17T14:00:00.000Z"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "stationId": {
                                      "type": "string",
                                      "example": "S117"
                                    },
                                    "value": {
                                      "type": "number",
                                      "example": 148
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "readingType": {
                          "type": "string",
                          "description": "Information about the reading",
                          "example": "Wind Dir AVG (S) 10M M1M"
                        },
                        "readingUnit": {
                          "type": "string",
                          "description": "Measurement unit for reading",
                          "example": "degrees"
                        },
                        "paginationToken": {
                          "type": "string",
                          "description": "Token to retrieve next page if exists",
                          "example": "b2Zmc2V0PTEwMA== (you will see this token only if next page exists)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "ERROR_PARAMS"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "enum": [
                        "Invalid date format. Date format must be YYYY-MM-DD (2024-06-01) or YYYY-MM-DDTHH:mm:ss (2024-06-01T08:30:00).",
                        "Invalid pagination token."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Weather data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 17
                    },
                    "name": {
                      "type": "string",
                      "example": "REAL_TIME_API_DATA_NOT_FOUND"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    },
                    "errorMsg": {
                      "type": "string",
                      "example": "Data not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {}
}
